<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1759BD8DA6114F1EA571E5FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33A51EE8DBD742CEB3F451C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCF88A717794DDC9C5A9DF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AE0FB71774447D5949DFDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BED2B97420B474AA471D2C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F036954B22A9474C9B07BFC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB0CC1028CC46888A07BB67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
