<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ui.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05E795A07A884A0AAC1FF682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBB8AABEB624195BD8DF6DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3789B8F4CE4543EEA09BDCB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BA2191363A840E6855DB2BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4964A53EDFF1416B86DB9D46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540F412AFF694E81AEC1529B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>586627E6A0E443C6A8AE3E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B8AC16976F44DEDBBF28FED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D1BB71A613A42B3B5BF75AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>654D9A2D59A54478902B25C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A21764AED54B4A30A0D37068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3AC2A460AF24CC1A1B2CC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C76CD4C33EF646F899AE56FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD803D7FA2004351B508BAFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC5D03C79A31435DA4EC9C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F36931BCE060486CBFFDAB68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB0CC1028CC46888A07BB67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
